.container {
    max-width: 1000px;
    margin: 0 auto;    /*text-align: center;*/
}
body{
    font-family: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;
}

h1{
    font-weight: normal;
}


/**
 * 轮播图
 */
.imgRotation {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.imgRotation:hover .btn{
    display: block;
}
.img-list {
    width: 2500px;
    font-size: 0;
    position: absolute;
}
.btn{
    display: none;
    position: absolute;
    top: 115px;
    font-size: 45px;
    line-height: 57px;
    width: 40px;
    height:60px;
    background-color: #fff;
    opacity: .7;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.leftbtn{
    left: 0
}
.rightbtn{
   right: 0
}
.circle {
    position: absolute;
    bottom: 4px;
    left: 50%;
    margin-left: -45px;
}
.circle a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}
.active {
    background-color: #fff;
    cursor: default;
}